*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
          overflow-y: hidden; 
}

body {
  
  font-size: inherit;
  overflow: hidden;
  font-family: 'Cairo', sans-serif;
  
}

header {
    background-color: #2C6C70;
    padding: 1.2rem 2.2rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .header1 {
    font-size: 1.8rem;
    padding-right: 2rem;
  }
  
  header .header2 {
    font-size: 2.3rem;
    padding-left: 2rem;
  }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {

  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #6CA39A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 3rem 13rem 0;
  height: 100vh;
}

.sidebar .nav {
  list-style: none;
}


.sidebar .nav li {
  width: 90%;
  padding: .8rem 1rem;
  margin-bottom: .5rem;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  cursor: pointer;
  /* -webkit-transition: all .3s; 
   transition: all .3s;  */
  font-size: 1.5rem;
  display: inline-block;
  text-shadow: #888888;
  /* border: 2px solid rgba(136, 136, 136, 0.9); */

}

.sidebar .nav li span {
  float: right;
  padding-top: .8rem;
  color: #fff;
  
}


.sidebar .nav li svg {
  width: 4rem;
  padding-left: 1rem;
  padding-top: 1rem;
  float: left;
  fill: white;
   
}


.sidebar .nav li:hover {
  background-color: #ebebeb;
  color: #333333;
  -webkit-transition: all .3s; 
   transition: all .3s;
}

.sidebar .nav li:hover span {
  color: #333333;
}

.sidebar .nav li:hover svg {
  fill: #333333;
  width: 4rem;
}

.main-content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
          height: 100vh;
}

.main-content h2 {
  padding: 20px 20px 0 20px;
  font-size: 3rem;
}



.main-content .controls .logout {
    background-color: #6CA39A;
    width: 40%;
    height: 20rem;
    margin: 9.4rem auto 4rem auto;
    border-radius: 4px;
    color: #fff;
    font-size: 2rem;
    padding-top: 4rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
  }
 
 
  .controls .btns {
    width: 80%;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .controls .btns button {
    width: 14rem;
    height: 4rem;
    padding: 1.2rem 0;
    border: none;
    font-size: 1.6rem;
    font-family: inherit;
    color: #fff;
    line-height: 1;
    

  }
  
  .controls .btns button:first-child {
    background-color: #A63429;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-right: 15px;
    -webkit-box-shadow: 2px 2px 4px #757575;
            box-shadow: 2px 2px 4px #757575;
  }
  
  .controls .btns button:first-child:hover {
    background-color: #69211a;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
  }
  
  .controls .btns button:last-child {
    background-color: #dcb172;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-left: 15px;
    -webkit-box-shadow: 2px 2px 4px #757575;
            box-shadow: 2px 2px 4px #757575;
  }
  
  .controls .btns button:last-child:hover {
    background-color: #cd8f35;
    color: rgb(207, 204, 204);
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
  }
  